@{
    Layout = "_Layout";
    <!-- Garantindo que o layout básico seja usado -->
}
@model IEnumerable<WebApplication1.Models.Fornecedor>

<h2>Lista de Fornecedores</h2>
<a class="nav-link text-dark" asp-area="" asp-controller="Fornecedors" asp-action="Create">Novo Fornecedor</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fornecedor in Model)
        {
            <tr>
                <td>@fornecedor.Id</td>
                <td>@fornecedor.Nome</td>
                <td>@fornecedor.email</td>
            </tr>
        }
    </tbody>
</table>